[% WRAPPER templates/rapidapp/ext_page.tt %]

<!-- Fields required for history management -->
<form id="history-form" class="x-hidden">
    <input type="hidden" id="x-history-field" />
    <iframe id="x-history-frame"></iframe>
</form>

<script type="text/javascript">
	
	Ext.onReady(function(){
		[% login_window_code %]
	});
	
</script>

[% END %]