<link rel="stylesheet" type="text/css" href="/static/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/static/ext/resources/css/xtheme-gray.css" />

<link rel="stylesheet" type="text/css" href="/static/rapidapp/css/Ext.ux.tree.CheckTreePanel.css" />
<link rel="stylesheet" type="text/css" href="/static/rapidapp/css/Ext.ux.grid.RowActions.css" />

<!-- grid filters: -->
<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/gridfilters/css/GridFilters.css" />
<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/gridfilters/css/RangeMenu.css" />
<!--               -->


<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/swfbtn/swfbtn.css" />


<!-- 
<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/swfupload/SwfUploadPanel.css" />
-->


<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/wiz/resources/css/ext-ux-wiz.css" />

<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/htmleditor/resources/css/htmleditorplugins.css" />


<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/SuperBoxSelect/superboxselect.css" />
<link rel="stylesheet" type="text/css" href="/static/rapidapp/js/SuperBoxSelect/superboxselect-gray-extend.css" />

<link rel="stylesheet" type="text/css" href="/static/ext/examples/ux/fileuploadfield/css/fileuploadfield.css" />

<link rel="stylesheet" type="text/css" href="/static/rapidapp/css/tabular-table.css" />

<link rel="stylesheet" type="text/css" href="/static/rapidapp/css/MultilineToolbar.css" />

<link rel="stylesheet" type="text/css" href="/static/rapidapp/css/RapidApp.css" />

<link rel="stylesheet" type="text/css" href="/static/rapidapp/css/header.css" />
<link rel="stylesheet" type="text/css" href="/static/rapidapp/css/title.css" />

<script type="text/javascript" src="/static/ext/adapter/ext/ext-base.js"></script>
[% IF debug %]
  <script type="text/javascript" src="/static/ext/ext-all-debug.js"></script>
  <script type="text/javascript" src="/static/ext/src/debug.js"></script>
[% ELSE %]
  <script type="text/javascript" src="/static/ext/ext-all.js"></script>
[% END %]

<script type="text/javascript" src="/static/rapidapp/js/RowExpanderEX.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/Ext.ux.grid.RowActions.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/Ext.ux.form.XCheckbox.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/Ext.ux.tree.CheckTreePanel.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/Ext.ux.form.DateTime.js"></script>

<script type="text/javascript" src="/static/rapidapp/js/Ext.ux.grid.Search.js"></script>

<!-- grid filters: -->
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/menu/RangeMenu.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/menu/ListMenu.js"></script>

<script type="text/javascript" src="/static/rapidapp/js/gridfilters/GridFilters.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/filter/Filter.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/filter/StringFilter.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/filter/DateFilter.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/filter/ListFilter.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/filter/NumericFilter.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/gridfilters/filter/BooleanFilter.js"></script>
<!--               -->

<script type="text/javascript" src="/static/ext/examples/ux/fileuploadfield/FileUploadField.js"></script>


<script type="text/javascript" src="/static/rapidapp/js/swfbtn/swfupload.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/swfbtn/plugins/swfupload.queue.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/swfbtn/swfbtn.js"></script>


<!--
<script type="text/javascript" src="/static/rapidapp/js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/swfupload/SwfUploadPanel.js"></script>
-->

<script type="text/javascript" src="/static/rapidapp/js/wiz/CardLayout.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/wiz/Wizard.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/wiz/Header.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/wiz/Card.js"></script>


<!-- HtmlEditor plugins: -->
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.MidasCommand.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.Divider.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.HR.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.Image.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.RemoveFormat.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.IndentOutdent.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.SubSuperScript.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.RemoveFormat.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.FindAndReplace.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.Table.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.Word.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.Link.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.SpecialCharacters.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.UndoRedo.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.Heading.js"></script>
<script src="/static/rapidapp/js/htmleditor/src/Ext.ux.form.HtmlEditor.Plugins.js"></script>
<!--                     -->


<script src="/static/rapidapp/js/SuperBoxSelect/SuperBoxSelect.js"></script>

<!--                     
<script src="/static/rapidapp/js/MultilineToolbar.js"></script>
-->


<script type="text/javascript" src="/static/rapidapp/js/MultiFilter.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/RapidApp/AppTab.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/RapidApp/AppTree.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/RapidApp/History.js"></script>
<script type="text/javascript" src="/static/rapidapp/js/RapidApp.js"></script>