<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>
<title>[% title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

[% INCLUDE templates/rapidapp/ext_js_css.tt %]

<script type="text/javascript">
	Ext.BLANK_IMAGE_URL = '/static/ext/resources/images/default/s.gif';
	Ext.chart.Chart.CHART_URL = '/static/ext/resources/charts.swf';
	Ext.QuickTips.init();
</script>

</head>
<body>

[% content %]

</body>
</html>