<html>
<head>
	<title> [% name | html %] - [% shortStatusText %]</title>
	<style type="text/css">
		* { font-face: "Arial"; font-family: sans-serif; }
	</style>
</head>
<body>
	<h2>HTTP [% statusCode %]</h2>
	<h4>[% longStatusText | html %]</h4>
	
	[% IF exceptionLogFailure %]
	<p>The details of this error could not be saved.</p>
	[% ELSIF exceptionLogId %]
	<p>The details of this error have been kept for analysis.<br/>
	Reference number
	[% IF debug %]<a href="/exception?id=[% exceptionLogId %]" target="_blank">[% exceptionLogId %]</a>[% ELSE %][% exceptionLogId %][% END %]
	</p>
	[% END %]
</body>
</html>