<!DOCTYPE html>
<!--[if lt IE 8]> <html class="lt-ie8" lang="en"> <![endif]-->
<!--[if gte IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
[%# INCLUDE templates/rapidapp/ext_js_css.tt %]

<!-- Can't serve ext css via AutoAsset yet because of relative url paths within the css -->
<link rel="stylesheet" type="text/css" href="/static/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/static/ext/resources/css/xtheme-gray.css" />
<link rel="stylesheet" type="text/css" href="/static/ext/examples/ux/fileuploadfield/css/fileuploadfield.css" />

[% c.autoasset_include_tags %]


<script type="text/javascript">
	Ext.onReady(function(){
		var el = Ext.get('username');
		if(el) { el.focus(); }
		
		// Pass the current value of the hashpath through the login:
		var hiddenEl = Ext.get('hashpath');
		hiddenEl.dom.setAttribute('value',window.location.hash);
	});
</script>
	
	<title>[% title %]</title>

	<!-- Foundation framework -->
		<link rel="stylesheet" href="/static/rapidapp/login/foundation/stylesheets/foundation.css">
	<!--[if lt IE 8]> <link rel="stylesheet" href="/static/login/foundation/stylesheets/ie.css" /> <![endif]-->
        
        <link rel="stylesheet" href="/static/rapidapp/login/css/style.css">

</head>
<body class="ptrn_a grdnt_a">
    <div style="padding-top:60px;"></div>
	 <div class="container">
        <div class="row">
		  
            <div class="eight columns centered" style="padding-top:0px;max-width:520px;">
				
                <div class="login_box" style="max-width:500px;">
							<div class="login_logo" style="top:-115px;">
								<!-- <img src="/static/login/greensheet_login_logo.png" alt="" /> -->
							</div>
                    <div class="lb_content">
                        <!--
								<div class="login_logo"><img src="clippardShadowLogo.png" alt="" /></div>
                        -->
								<div class="cf" style="height:80px;">
                            <h2 class="lb_ribbon lb_blue">
										<div style="padding-top:3px;">
											<img src="/static/rapidapp/images/iconLoggedOut.png" style="vertical-align:middle;padding-bottom:5px;padding-right:9px;">
											<span style="padding-right:11px;font-weight:bold;font-size:1.1em;">Sign in</span>
										</div>
									</h2>
							
							
							
              <!--
							<a href="/password_reset" class="right small sl_link">
								<span>Password Reset</span>
							</a>
							
							
							<a href="/obtain_username" class="right small sl_link">
								<span>Obtain Username</span>
							</a>
							
              -->
							
							<!--
							<div class="right">
								<span>[% ver_string %]</span>
							</div>
							-->
							
					    </div>
						 
						 
								[% IF error_status %]
									<div style="font-size:1.1em;font-weight:bold;color:red;padding:10px;">
										<center>&nbsp;[% error_status %]&nbsp;</center>
									</div>
								[% END %]
								
                        <div class="row m_cont">
                            <div class="eight columns centered">
                                <div class="l_pane">
									<form action="[% form_post_url %]" method="post" class="nice" id="l_form">
									
										<input type="hidden" id="hashpath" name="hashpath" value="#">
									
										<div class="sepH_c">
											<div class="elVal">
												<label for="username">Username</label>
												<input type="text" id="username"  name="username" class="oversize expand input-text" />
											</div>
											<div class="elVal">
												<label for="password">Password</label>
												<input type="password" id="password"  name="password" class="oversize expand input-text" />
											</div>
										</div>
										
							
										<div class="cf" style="padding-bottom:30px;">
											<!--
											<label for="remember" class="left"><input type="checkbox" id="remember"> Remember me</label>
											-->
											<input type="submit" class="button small radius right black" value="Login" />
										</div>
										
										
										
									</form>
								</div>
								<!--
								<div class="l_pane" style="display:none">
									<form action="index.php" method="post" class="nice" id="rp_form">
										<div class="sepH_c">
											<p class="sepH_b">Please enter your email address. You will receive a link to create a new password via email.</p>
											<div class="elVal">
												<label for="upname">E-mail:</label>
												<input type="text" id="upname" name="upname" class="oversize expand input-text" />
											</div>
										</div>
										<div class="cf">
											<input type="submit" class="button small radius right black" value="Get new password" />
										</div>
									</form>
								</div>
								-->
                            </div>
                        </div>
                    </div>
                </div>
					 
					<div style="position: absolute; bottom: 0px; width:100%;">
						
						<div style="text-align:center;padding-bottom:5px;height:100%;">
							<a target="_blank" href="http://www.intellitree.com/">
								<img 
									width="165" height="25" border="0" 
									src="/static/rapidapp/images/rapidapp_powered_logo_small.png"
								>
							</a>
						</div> 
						
					</div>
					

					<div style="position: absolute; bottom: -18px; width:100%;">
						
						<div class="right" style="float:right;padding-right:15px;font-size:.7em;color:#666666;">
							<span>[% ver_string %]</span>
						</div>

					</div>
					
					
					
					
					
            </div>
        </div>
    </div>
</body>
</html>
