<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>
  <title>[% title | html %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
[% FOREACH cssfile IN css_inc_list %]  <link rel="stylesheet" type="text/css" href="[% cssfile %]" />
[% END %][% FOREACH jsfile IN js_inc_list %]  <script type="text/javascript" src="[% jsfile %]"></script>
[% END %][% FILTER indent('  ') %][% header %]
[% END %]</head>
<body>
[% FILTER indent('  ') %][% content %][% END %]
</body>
</html>
