# -- [% name %] cpanfile
# List all CPAN packages and minimum versions this app depends 
# on in this file to be able to install them on a fresh system 
# with this command (ran from the app root directory):
#
#   cpanm --installdeps .
#
# (See https://metacpan.org/pod/cpanfile)
# --

requires 'RapidApp', [% ra_ver %];

