/* Styles for inline Template editing (RapidApp::Template::Controller) */

.ra-template {
  position: relative;
  min-height: 40px;
  min-width: 40px;
}

.ra-template>.edit {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  opacity: 0.2;
  display:none;
}

.ra-template:hover>.edit {
  display: block;
}

.ra-template>.edit:hover {
  cursor: pointer;
  opacity: 1;
}