/* Isolation CSS */

/* http://weblogs.asp.net/bleroy/archive/2009/04/14/css-isolation-there-has-got-to-be-a-better-way.aspx
Tweaked for RapidApp, specifically use in Load Html in HtmlEditor

Had to change their selector from '.isolate *' to '.isolate' because of inheritance priority

also added 'line-height' default
2012-08-05 by HV
*/
.isolate
{
    background: white none repeat scroll 0% 0%;
    border: 0px none black;
    border-collapse: separate;
    border-spacing: 0px;
    bottom: auto;
    caption-side:top;
    clear: none;
    clip: auto;
    color: black;
    content: none;
    counter-increment:none;
    counter-reset:none;
    float: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: hide;
    font-family: serif;
    font-size: medium;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    ime-mode: auto;
    left: auto;
    letter-spacing: normal;
    margin: 0px;
    marker-offset: auto;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
    outline: 0px none black;
    outline-offset: 0px;
    overflow: inherit;
    padding: 0px;
    page-break-after: auto;
    page-break-before: auto;
    position: static;
    quotes: "“" "”" "‘" "’";
    right: auto;
    table-layout: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    top: auto;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    line-height: normal;
}
.isolate p 
{
	display:block;
	margin-top: 16px;
	margin-bottom: 16px;
}
.isolate caption 
{
	border-spacing: 2px 2px;
	display: table-caption;
	text-align: center;
}
.isolate strong, .isolate b 
{
	font-weight: bold;
}
.isolate em, .isolate cite, .isolate i 
{
	font-style: italic;
}
.isolate tt, .isolate code 
{
	font-family: monospace;
	font-size: small;
}
.isolate h1
{
	display: block;
	font-size: xx-large;
	font-weight: bold;
	margin-top: 21px;
	margin-bottom: 21px;
}
.isolate h2
{
	display: block;
	font-size: x-large;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
.isolate h3
{
	display: block;
	font-size: large;
	font-weight: bold;
	margin-top: 19px;
	margin-bottom: 19px;
}
.isolate h4
{
	display: block;
	font-weight: bold;
	margin-top: 21px;
	margin-bottom: 21px;
}
.isolate h5
{
	display: block;
	font-size: small;
	font-weight: bold;
	margin-top: 22px;
	margin-bottom: 22px;
}
.isolate h6
{
	display: block;
	font-size: smaller;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 25px;
}
.isolate blockquote 
{
	display: block;
	margin: 16px 40px 16px 40px;
}
.isolate pre 
{
	display: block;
	font-family: monospace;
	font-size: small;
	margin-top: 13px;
	margin-bottom: 13px;
	white-space: pre;
}
.isolate dl 
{
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
}
.isolate dd 
{
	margin-left: 40px;
}
.isolate ol, .isolate ul
{
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
}
.isolate ul li
{
	display: list-item;
	list-style-type: disc;
}
.isolate ol li
{
	display: list-item;
	list-style-type: decimal;
}
.isolate fieldset 
{
	display: block;
	border: 2px groove #F0F0F0;
	margin-right: 2px;
	margin-left: 2px;
	padding: 6px 10px 12px 10px;
}
.isolate legend 
{
	padding-right: 2px;
	padding-left: 2px;
	white-space: nowrap;
}
.isolate input, .isolate textarea, .isolate select, .isolate button {
	background-color: white;
	border: 1px inset #F0F0F0;
    cursor: text;
    font-family: sans-serif;
    font-size: small;
    padding: 2px;
}
.isolate textarea 
{
	font-family: monospace;
	margin-top: 1px;
	margin-bottom: 1px;
	vertical-align: text-bottom;
}
.isolate input[type=image] 
{
	background-color: transparent;
    border: 0px none black;
    cursor: pointer;
    padding: 0px;
}
.isolate input[type=button], .isolate input[type=file], .isolate input[type=submit], .isolate button
{
	background-color: #F0F0F0;
    border-style: outset;
    border-width: 3px;
    cursor: default;
    padding: 0px 6px 0px 6px;
    text-align: center;
    white-space: pre;
}
.isolate button
{
    white-space: normal;
}
.isolate input[type=checkbox], .isolate input[type=radio] {
    border-width: 0px;
    cursor: default;
    margin: 3px 3px 3px 4px;
    padding: 0px;
}
.isolate input[type=radio] {
    margin-bottom: 0px;
    margin-left: 5px;
}
.isolate :before, .isolate :after 
{
	content: "";
}
.isolate a 
{
	border-color: #0000EE;
	color: #0000EE;
	cursor: pointer;
	text-decoration: underline;
}
.isolate div, .isolate dt, .isolate form, .isolate iframe
{
	display: block;
}
.isolate hr 
{
	border: 1px inset #808080;
	color: #808080;
	display: block;
}
.isolate table 
{
	border-spacing: 2px 2px;
	display: table;
}
.isolate tbody 
{
	border-spacing: 2px 2px;
	display: table-row-group;
	vertical-align: middle;
}
.isolate tr 
{
	border-spacing: 2px 2px;
	display: table-row;
	vertical-align: middle;
}
.isolate td
{
	border-spacing: 2px 2px;
	display:table-cell;
	padding: 1px;
	vertical-align: middle;
}
.isolate th 
{
	border-spacing: 2px 2px;
	display:table-cell;
	font-weight: bold;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
}
.isolate thead 
{
	border-spacing: 2px 2px;
	display: table-header-group;
	vertical-align: middle;
}
.isolate tfoot 
{
	border-spacing: 2px 2px;
	display: table-footer-group;
	vertical-align: middle;
}
.isolate colgroup 
{
	border-spacing: 2px 2px;
	display: table-column-group;
}
.isolate col 
{
	border-spacing: 2px 2px;
	display: table-column;
}
