html, body {
	height:100%;
}
#headerContainer {
	min-width:980px;
	min-height:140px;
	font-family:Tahoma, Geneva, sans-serif;
	clear: both;
	height:100%;
}
#header {
	width: 100%;
	height:100%;
	background-color:#66883B;
	background-image: url(../images/bgHeader.png);
	background-repeat: repeat-x;
	background-position: center center;
}
#header .top {
	height:28px;
}
#header .middle {
	height:59px;
	position:relative;
}
#header .bottom {
	height:28px;
}
#header a {
	text-decoration:none;
}
#header a:hover {
	text-decoration:underline;
}
#header .middle .links {
	position:absolute;
	right:30px;
	top:-30px;
	font-size:11px;
}
#header .links ul, #header .links li {
	list-style: none;
	margin: 0;
	padding: 3px 0px 0px 0px;
	display: inline;
}
#header .links a {
	margin: 0;
	padding: 0px 5px 0px 10px;
	color:#FFF;
	border-left: 1px solid #FFF;
}
#header .links ul a.first {
	border-left: none;
}

#header .logo {
	padding:0px 10px 10px 30px;
}
#header .logo .blackBox, #header .logo .whiteBox {
	background-color:#000;
	padding:10px;
	position:relative;
}
#header .logo .whiteBox {
	background-color:#FFF;
	padding:10px;
	position:relative;
}
#header .logo .blackBox .bottomLeft, #header .logo .blackBox .bottomRight, #header .logo .blackBox .topLeft ,#header .logo .blackBox .topRight, #header .logo .whiteBox .bottomLeft, #header .logo .whiteBox .bottomRight, #header .logo .whiteBox .topLeft ,#header .logo .whiteBox .topRight {
	position:absolute;
	background-repeat:no-repeat;
	height: 7px;
	width: 7px;
}
#header .logo .blackBox .bottomLeft {
	background-image: url(../images/cornerBlackBottomLeft.png);	
	bottom:0px;
	left:0px;
}
#header .logo .blackBox .bottomRight {
	background-image: url(../images/cornerBlackBottomRight.png);	
	bottom:0px;
	right:0px;
}
#header .logo .blackBox .topLeft {
	background-image: url(../images/cornerBlackTopLeft.png);
	top:0px;
	left:0px;
}
#header .logo .blackBox .topRight {
	background-image: url(../images/cornerBlackTopRight.png);	
	top:0px;
	right:0px;
}

#header .logo .whiteBox .bottomLeft {
	background-image: url(../images/cornerWhiteBottomLeft.png);	
	bottom:0px;
	left:0px;
}
#header .logo .whiteBox .bottomRight {
	background-image: url(../images/cornerWhiteBottomRight.png);	
	bottom:0px;
	right:0px;
}
#header .logo .whiteBox .topLeft {
	background-image: url(../images/cornerWhiteTopLeft.png);
	top:0px;
	left:0px;
}
#header .logo .whiteBox .topRight {
	background-image: url(../images/cornerWhiteTopRight.png);	
	top:0px;
	right:0px;
}
#header .title {
	font-size: 22px;
	color: #333;
	float:left;
	margin-left: 15px;
	font-weight:bold;
	line-height:59px;
	text-shadow:0 1px 0 #CCC;
}
#header .intellitreeLogo {
	float: right;
	margin-right: 30px;
	margin-left:20px;
	height:59px;
}
#header .tabsContainer {
	height: 59px;
	font-size:12px;
	background-image: url(../images/tabsBorder.png);
	background-repeat: repeat-y;
	background-position: right;
	float:right;
}
#header .tabsContainer p {
	margin:0;
	font-weight:bold;
	color:#000;
}
#header .tabsContainer .tabClick, #header .tabsContainer .tabNoClick {
	height:59px;
	background-image: url(../images/tabsBorder.png);
	background-repeat: repeat-y;
	background-position: left;
	float:right;
}
#header .tabsContainer .tabClick:hover {
	background-image: url(../images/bgTabsHover.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#header .tabsContainer .tabClick a, #header .tabsContainer .tabNoClick span {
	padding:0px 15px 0px 40px;
	color: #333;
	display: table-cell;
	height:59px;
	vertical-align:middle;
}
#header .tabsContainer .tabClick a:hover {
	text-decoration:none;
	color:#FFF;
}
#header .tabsContainer .tabClick .loggedIn {
	background-image: url(../images/iconLoggedIn.png);
	background-repeat: no-repeat;
	background-position: 14px center;
}
#header .tabsContainer .tabClick .loggedOut {
	background-image: url(../images/iconLoggedOut.png);
	background-repeat: no-repeat;
	background-position: 14px center;
}
#header .tabsContainer .tabNoClick .username {
	background-image: url(../images/iconUser.png);
	background-repeat: no-repeat;
	background-position: 14px center;
}
