/* http://www.sohtanaka.com/web-design/styling-pre-tags-with-css-code-block/ */
pre {
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */ /*
	width: 99%; */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.rapp-margin-bottom-0 {
	margin-bottom: 0px;
}

.with-icon {
	height: 16px;
	padding-left: 19px;
	background-repeat: no-repeat;
	background-position: 1px center;
	display: table-cell;
  vertical-align: middle;
}

.icon-centered-16x16 {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}


.grid-cell-with-icon {
	height: 16px;
	text-indent: 16px;
	background-repeat: no-repeat;
	padding-top: 1px;
	background-position: 2px 2px;
}

.icon-16x16 {
  height: 16px;
  width: 16px;
  background-size:16px 16px;
  background-repeat: no-repeat;
}

.icon-14x14 {
  height: 14px;
  width: 14px;
  background-size:14px 14px;
  background-repeat: no-repeat;
}

.icon-12x12 {
  height: 12px;
  width: 12px;
  background-size:12px 12px;
  background-repeat: no-repeat;
}

.icon-11x11 {
  height: 11px;
  width: 11px;
  background-size:11px 11px;
  background-repeat: no-repeat;
}

.icon-10x10 {
  height: 10px;
  width: 10px;
  background-size:10px 10px;
  background-repeat: no-repeat;
}

.with-background-right-image {
	background-repeat: no-repeat;
	background-position: right center;
}

/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.no-text-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.icon-server_database { background-image: url(/static/rapidapp/images/server_database.png) !important; }
.icon-arrow_refresh_small { background-image: url(/static/rapidapp/images/arrow_refresh_small.png) !important; }
.icon-database { background-image: url(/static/rapidapp/images/database.png) !important; }
.icon-database_table { background-image: url(/static/rapidapp/images/database_table.png) !important; }
.icon-application_view_detail { background-image: url(/static/rapidapp/images/application_view_detail.png) !important; }
.icon-resultset_next { background-image: url(/static/rapidapp/images/resultset_next.png) !important; }
.icon-application_edit { background-image: url(/static/rapidapp/images/application_edit.png) !important; }
.icon-application_form_edit { background-image: url(/static/rapidapp/images/application_form_edit.png) !important; }
.icon-cross { background-image: url(/static/rapidapp/images/cross.png) !important; }
.icon-key_go { background-image: url(/static/rapidapp/images/key_go.png) !important; }
.icon-key { background-image: url(/static/rapidapp/images/key.png) !important; }
.icon-logout { background-image: url(/static/rapidapp/images/Log-Out-icon.png) !important; }
.icon-computer { background-image: url(/static/rapidapp/images/computer-126t.gif) !important; }
.icon-vnc { background-image: url(/static/rapidapp/images/vnc_icon.png) !important; }
.icon-ssh { background-image: url(/static/rapidapp/images/application_osx_terminal.png) !important; }

.icon-myteams { background-image: url(/static/rapidapp/images/book.png) !important; }
.icon-team { background-image: url(/static/rapidapp/images/book_open.png) !important; }
.icon-team-arrow { background-image: url(/static/rapidapp/images/book_next.png) !important; }
.icon-users { background-image: url(/static/rapidapp/images/group.png) !important; }
.icon-user { background-image: url(/static/rapidapp/images/user.png) !important; }
.icon-user-add { background-image: url(/static/rapidapp/images/user_add.png) !important; }
.icon-report { background-image: url(/static/rapidapp/images/chart_curve.png) !important; }
.icon-record { background-image: url(/static/rapidapp/images/time.png) !important; }
.icon-record-go { background-image: url(/static/rapidapp/images/table_go.png) !important; }
.icon-manage-activities { background-image: url(/static/rapidapp/images/table_gear.png) !important; }
.icon-players { background-image: url(/static/rapidapp/images/status_online.png) !important; }
.icon-add { background-image: url(/static/rapidapp/images/add.png) !important; }
.icon-activity { background-image: url(/static/rapidapp/images/table.png) !important; }

.icon-folder { background-image: url(/static/rapidapp/images/folder.png) !important; }

.icon-delete { background-image: url(/static/rapidapp/images/cross.png) !important; }
.icon-edit { background-image: url(/static/rapidapp/images/application_edit.png) !important; }
.icon-save { background-image: url(/static/rapidapp/images/disk_blue_ok.png) !important; }

.icon-log { background-image: url(/static/rapidapp/images/report.png) !important; }
.icon-form-add { background-image: url(/static/rapidapp/images/application_form_add.png) !important; }
.icon-printer { background-image: url(/static/rapidapp/images/printer.png) !important; }
.icon-help { background-image: url(/static/rapidapp/images/help.png) !important; }
.icon-bullet_delete { background-image: url(/static/rapidapp/images/bullet_delete.png) !important; }
.icon-form_green { background-image: url(/static/rapidapp/images/form_green.png) !important; }
.icon-book_green { background-image: url(/static/rapidapp/images/book_green.png) !important; }

.icon-data-view { background-image: url(/static/rapidapp/images/data_view.png) !important; }
.icon-folder-view { background-image: url(/static/rapidapp/images/folder_view.png) !important; }
.icon-save-as { background-image: url(/static/rapidapp/images/save_as.png) !important; }

.icon-funnel { background-image: url(/static/rapidapp/images/funnel.png) !important; }
.icon-funnel-edit { background-image: url(/static/rapidapp/images/funnel_edit.png) !important; }

.icon-expand-all { background-image: url(/static/rapidapp/images/expand-all.gif) !important; }
.icon-collapse-all { background-image: url(/static/rapidapp/images/collapse-all.gif) !important; }

.icon-page-white-world { background-image: url(/static/rapidapp/images/page_white_world.png) !important; }
.icon-textfield-rename { background-image: url(/static/rapidapp/images/textfield_rename.png) !important; }

.icon-element-copy { background-image: url(/static/rapidapp/images/element_copy.png) !important; }
.icon-element-into { background-image: url(/static/rapidapp/images/element_into.png) !important; }
.icon-bullet-arrow-down { background-image: url(/static/rapidapp/images/bullet_arrow_down.png) !important; }

.icon-cog { background-image: url(/static/rapidapp/images/cog.png) !important; }

.x-logical-checkbox {
	width: 16px;
	height: 16px;
	cursor:pointer;
	float: left;
}
.icon-checkbox-yes { background-image: url(/static/rapidapp/images/checkbox_yes.png) !important; }
.icon-checkbox-no { background-image: url(/static/rapidapp/images/checkbox_no.png) !important; }
.icon-checkbox { background-image: url(/static/rapidapp/images/checkbox.png) !important; }
.icon-checkbox-clear { background-image: url(/static/rapidapp/images/checkbox_clear.png) !important; }

.icon-bullet_key {
	background-image: url(/static/rapidapp/images/bullet_key.png) !important;
	background-repeat:no-repeat;
	padding-right: 18px;
	padding-top: 9px;
	padding-bottom: 3px;
}


.icon-save-24x24 { background-image: url(/static/rapidapp/images/disk_blue_24x24.png) !important; }
.icon-add-24x24 { background-image: url(/static/rapidapp/images/disk_blue_ok_24x24.png) !important; }
.icon-refresh-24x24 { background-image: url(/static/rapidapp/images/refresh_24x24.png) !important; }

.icon-excel { background-image: url(/static/rapidapp/images/page_excel.png) !important; }

.icon-arrow-up { background-image: url(/static/rapidapp/images/arrow_up.png) !important; }
.icon-arrow-down { background-image: url(/static/rapidapp/images/arrow_down.png) !important; }
.icon-arrow-left { background-image: url(/static/rapidapp/images/arrow_left.png) !important; }
.icon-arrow-right { background-image: url(/static/rapidapp/images/arrow_right.png) !important; }
.icon-arrow-divide { background-image: url(/static/rapidapp/images/arrow_divide.png) !important; }

.icon-gears { background-image: url(/static/rapidapp/images/gears.png) !important; }
.icon-gears-24x24 { background-image: url(/static/rapidapp/images/gears_24x24.png) !important; }

.icon-loading { background-image: url(/static/ext/resources/images/default/grid/loading.gif) !important; }
.icon-refresh { background-image: url(/static/ext/resources/images/gray/grid/refresh.gif) !important; }

.icon-checkmark { background-image: url(/static/rapidapp/images/checkmark.png) !important; }
.icon-cross-light { background-image: url(/static/rapidapp/images/cross_light.png) !important; }
.icon-checkmark-12x12 { background-image: url(/static/rapidapp/images/checkmark_12x12.png) !important; }
.icon-cross-light-12x12 { background-image: url(/static/rapidapp/images/cross_light_12x12.png) !important; }
.icon-gray-pencil { background-image: url(/static/rapidapp/images/gray_pencil.png) !important; }
.icon-gray-down { background-image: url(/static/rapidapp/images/gray_down.png) !important; }
.icon-gray-down-with-pencil { background-image: url(/static/rapidapp/images/gray_down_with_pencil.png) !important; }
.icon-arrow-undo { background-image: url(/static/rapidapp/images/arrow_undo.png) !important; }
.icon-cross-tiny { background-image: url(/static/rapidapp/images/cross_tiny.png) !important; }
.icon-cross-tiny-light { background-image: url(/static/rapidapp/images/cross_tiny_light.png) !important; }
.icon-tick-tiny { background-image: url(/static/rapidapp/images/tick_tiny.png) !important; }
.icon-tick-tiny-light { background-image: url(/static/rapidapp/images/tick_tiny_light.png) !important; }
.icon-function { background-image: url(/static/rapidapp/images/function.png) !important; }
.icon-function-small { background-image: url(/static/rapidapp/images/function_small.png) !important; }

.tbar-title-medium {
	font-size:175% !important;
	padding:6px !important;
	font-weight: bolder !important;
}
.tbar-button-medium {
	font-size:140% !important;
	padding-left: 5px !important;
	font-weight: bolder !important;
}

.tbar-title-small {
	padding:3px !important;
	font-weight: bolder !important;
}
.tbar-button-small {
	padding-left: 2px !important;
	font-weight: bolder !important;
}

.icon-engineering { background-image: url(/static/images/hammer2.png) !important; }
.icon-sales { background-image: url(/static/images/businessmen.png) !important; }
.icon-pricing { background-image: url(/static/images/percent.png) !important; }

.icon-history { background-image: url(/static/images/history.png) !important; }
.icon-history-add { background-image: url(/static/images/history_add.png) !important; }
.icon-history-24x24 { background-image: url(/static/images/history_24x24.png) !important; }
.icon-history-add-24x24 { background-image: url(/static/images/history_add_24x24.png) !important; }
.icon-history-32x32 { background-image: url(/static/images/history_32x32.png) !important; }
.icon-history-add-32x32 { background-image: url(/static/images/history_add_32x32.png) !important; }


a.magnify-link-tiny {
  background-image: url(/static/rapidapp/images/magnify.gif) !important;
  background-repeat:no-repeat;
  background-position: 0% 90%;
  padding-left: 10px;
  margin-left: 2px;
  margin-bottom: 1px;
  font-size: 9px;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  text-decoration: none;
  border-bottom: 1px transparent;
  color: transparent;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}
a.magnify-link-tiny:hover {
  border-bottom: 1px dotted;
  color: blue;
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.superscript-navy {
  color: navy;
  font-weight: lighter; 
  position: relative;
  top: -4px;
}

.x-multifilter-not {
	font-weight: bolder !important;
	font-size:145% !important;
	padding-left: 1px !important;
	padding-right: 1px !important;
	font-family: Lucida Console !important;
	color: lightgray  !important;
}

.x-multifilter-not-on {

	color: red !important;
	
}

.x-multifilter-not-off {

	color: lightgray   !important;
	
}

/* ----------------------------------- */

/* http://www.sencha.com/forum/showthread.php?45873-tbar-appears-ugly */
.tbarBottomBorderFix {
	border-bottom-style: solid !important;
	border-bottom-color: #D0D0D0 !important;
	border-bottom-width: 1px !important;
}


.panel-borders {
	border-style: solid !important;
	border-color: #D0D0D0 !important;
	border-width: 1px !important;
}


.item-disabled {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
  background-color: #f2f2f2 !important; /* this is needed to fix stupid IE opacity bug */
}




/* This is needed only with gray theme: */
.x-toolbar .xtb-sep { background-image: url(/static/ext/resources/images/default/grid/grid-split.gif) !important }

.x-tab-panel-header { border-bottom: 0px; }

.offline .x-grid3-cell {
  opacity: 0.5;
  filter: alpha(opacity=50);
}


/*
.offline .x-grid3-cell .x-grid3-cell-first {
  opacity: 1.0 !important;
  filter: alpha(opacity=100);
}
*/

.x-grid3-cell-first {
	opacity: 2.0;
	filter: alpha(opacity=200);
}


.x-grid3-col-memberpc  {
	cursor:pointer;
}

.x-tab-panel-body {
//	border: 0 none !important;
}

.x-tab-panel-header-plain .x-tab-strip-spacer, .x-tab-panel-footer-plain .x-tab-strip-spacer {
	border-bottom: 0 none !important;
}


.x-grid3-row-expander {
	background-image: url(/static/rapidapp/images/row-expand-sprite-arrow.gif) !important;
}

.x-grid3-row-selected {
	background: #EEF3E2 !important;
	border:1px dotted gray;
}


/*
.x-grid3-row-collapsed .x-grid3-row-expander {
	background-image: url(/static/rapidapp/images/bullet_arrow_up_sm.png) !important;
	display: inline;
}
.x-grid3-row-expanded  .x-grid3-row-expander {
	background-image: url(/static/rapidapp/images/bullet_arrow_down_sm.png) !important;
	display: inline;
}


html {
    overflow: -moz-scrollbars-vertical;
    position: relative;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #fff; color: #333;
    letter-spacing: 0.1px;
    position: relative;
}

*/

/*
td {
  font-family: Tahoma, Geneva, Verdana, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  vertical-align: middle;
}
*/

img {
  vertical-align: middle;
}

/*
.x-panel-body {
  border:1px solid gray;
  border-top:0 none;
}
*/

.link-underline {
	cursor:pointer;
	text-decoration:underline;
}


/*
.x-tree-selected { font-weight: bold; }
*/

//.x-grid3-hd-row .x-grid3-td-PRI_KEY { padding: 0px 0px 0px 0px; }
//.x-grid3-hd-inner .x-grid3-hd-PRI_KEY { padding: 0px 0px 0px 0px; }
//.x-grid3-hd-PRI_KEY { padding: 0px 0px 0px 0px; }

.x-grid3-td-editIcon .x-grid3-cell-inner {
	background-image: url(/static/rapidapp/images/table_edit.png) !important;
	background-position:center center;
	background-repeat:no-repeat;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}


.pos-top-right {
	text-align: right;
	position:absolute;
	top:0;
	right:5%;
	width:200px;
	background-color:yellow;
}


.sbl-panel-body-noborder {
    border-width: 0 0 0 0 !important;
    padding: 0 !important;
    background-color: white !important;
}
.res-block {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../img/theme/block-top.gif) no-repeat scroll 0 0;
	margin-bottom:15px;
	padding-top:5px;
	width:210px;
}


/*
.sbl-panel-body-noborder, .sbl-panel-body-noborder .x-border-panel .x-border-layout-ct, .sbl-panel-body-noborder .x-panel .x-border-panel, .sbl-panel-body-noborder .x-panel-body .x-panel-body-noheader {
    border-width: 0 0 0 0 !important;
    padding: 0 !important;
}


*/

/*
html, body { height:100%; }
*/



.bold-italics { font-weight: bold !important; font-style: italic !important; }





/* Taken from: http://www.extjs.com/blog/2008/05/14/form-group/  */

/* add some padding so it spaces nice and relative elements dn't get clipped */
.form-group {
	padding-top:15px;
	padding-bottom:10px;
	overflow:hidden;
}

/* Simple blue border */
.form-group .form-group-header {
	padding:0;
	border-bottom:1px solid #c3daf9;
}

/* Position the text element so it appears over the border added above */
.form-group .form-group-header-text {
	font-size:11px;
	font-family:tahoma,arial,sans-serif;
	line-height:13px;
	text-transform:uppercase;
	position:relative;
	left:5px;
	top:5px;
	padding:1px 5px 1px 20px;
	color:#4e79b2;
	border:1px solid #c3daf9;
	background:#fff url(/static/rapidapp/images/form-collapse-icon.gif) no-repeat 2px 0;
}

/* Copied from x-plain (for IE + layouts to work) */
.form-group-body {
    overflow:hidden;
}

/* Copied from x-plain (for IE + layouts to work) */
.form-group-bwrap {
    overflow:hidden;
    zoom:1;
}

/* Change the toggle icon when collapsed */
.x-panel-collapsed .form-group-header-text {
	background-position: 2px -15px;
}





.x-form-display-field, .ext-gecko .x-form-display-field, .ext-strict .ext-ie7 .x-form-display-field {
    display: block;
    padding: 3px 0px 0px 0px;
    padding-left: 0px;
    position: relative;
    z-index: 2;
}


.floating-form .x-form-item
{
    display: inline;
    float:left;
    padding-right: 5px;
}
.floating-form label.x-form-item-label
{
    padding-right:0;
}
.ext-ie .floating-form .x-form-clear-left
{
    clear: none;
    display:none;
}

/*

.appdv-edit-box {
	visibility:hidden;
	position: absolute;
	top: 0; 
	right: 0;
	padding-top:4px;
	padding-left:4px;
	cursor:	pointer;
	z-index:500;
	font-size: 10px;
	font-family: arial;
	background:url(/static/rapidapp/images/pencil_tiny.png) center right no-repeat floralwhite;
	padding:1px 14px 1px 1px;
	white-space:nowrap;
	color: blue;
	font-weight: normal;
	text-decoration:underline;
	border-style: dotted;
	border-width: 1px;
	border-color: blue;
}

.appdv-field-value:hover, .appdv-field-value:hover .appdv-edit-box {
	visibility:visible;
}


.appdv-edit-box + .save, .appdv-edit-box + .cancel, .editing .appdv-edit-box {
	display:none;
}

.editing .appdv-edit-box + .save, .editing .appdv-edit-box + .cancel {
	display:block;
	visibility:visible;
	position: relative;
	
	background: floralwhite;
	padding-right: 1px;
	float:right;
}

.editing .appdv-edit-box + .save {
	background:url(/static/rapidapp/images/bullet_disk.png) center right no-repeat floralwhite;
	padding-right: 15px;
	float:left;
}

*/









/******************  edit-record-toggle  *****************/

.appdv-tt-generated .edit-record-toggle {
	padding: 4px;
}

.record-update .appdv-tt-generated .edit-record-toggle .edit {
	display:none!important;
}


.appdv-tt-generated .edit-record-toggle div {
	display: none;
	visibility:hidden;
	width: 30;
	padding:4px 14px 1px 1px;
	cursor:	pointer;
	font-size: 11px;
	font-family: arial;
	white-space:nowrap;
	color: blue;
	font-weight: bold;
	float:left;
	clear:both;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-color: transparent;
}

.appdv-tt-generated .edit-record-toggle div:hover {
	border-color: blue;
}

.appdv-tt-generated .edit-record-toggle .edit {
	display:block;
}

.editing-record .appdv-tt-generated .edit-record-toggle .edit {
	display:none;
}


.record-over:hover .appdv-tt-generated .edit-record-toggle .edit {
	visibility:visible;
}


.editing-record .appdv-tt-generated .edit-record-toggle .save, .editing-record .appdv-tt-generated .edit-record-toggle .cancel {
	visibility:visible;
	display:block;
}

.appdv-tt-generated .edit-record-toggle .edit {
	background:url(/static/rapidapp/images/pencil_tiny.png) center right no-repeat;
}

.appdv-tt-generated .edit-record-toggle .save {
	background:url(/static/rapidapp/images/bullet_disk.png) center right no-repeat;
}

.appdv-tt-generated .edit-record-toggle .cancel {
	background:url(/static/rapidapp/images/cross_tiny.png) center right no-repeat;
}

/******************  END edit-record-toggle  *****************/



/******************  record-delete  *****************/

.appdv-tt-generated .delete-record, .appdv-tt-generated .print-view {
	background:url(/static/rapidapp/images/cross.png) center right no-repeat;
	padding:4px 18px 1px 1px;
	width: 30;
	cursor:	pointer;
	font-size: 12px;
	font-family: arial;
	white-space:nowrap;
	color: darkgray;
	font-weight: bold;
	float:left;
	clear:both;
	border-bottom-width: 1px;
	border-color: transparent;
	cursor:	pointer;
}

.appdv-tt-generated .print-view {
    background:url(/static/rapidapp/images/printer.png) center right no-repeat;
}

.rapidapp-printview .appdv-tt-generated .print-view {
    display: none !important;
}

.appdv-tt-generated .delete-record:hover, .appdv-tt-generated .print-view:hover {
	border-bottom-style: dotted;
	border-color: blue;
	color: blue;
}


.editing-record .appdv-tt-generated .delete-record {
	display: none !important;
}

@media print {
    .appdv-tt-generated .delete-record {
        display: none !important;
    }
}

/******************  END record-delete  *****************/



/*
.appdv-editable-value {
	padding-right: 14px;
}

.appdv-editable-value:hover {
	background:url(/static/rapidapp/images/pencil_tiny.png) center right no-repeat;
	cursor:	pointer;
}

.appdv-editable-value:hover span {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-color: blue;
}
*/


/****************** appdv-edit-field ******************/

.appdv-edit-field td.icons {
	width:24px;
}

.appdv-edit-field td.icons div {
	width: 12px;
	float:left;
	cursor:	pointer;
	display:none;
}

.editing-record .appdv-edit-field td.icons div, .record-update .appdv-edit-field td.icons div {
	display:none !important;
}


.appdv-edit-field td.icons .edit {
  width: 14px;
	background:url(/static/rapidapp/images/pencil_tiny.png) right center no-repeat;
}

.appdv-edit-field td.icons .save {
	background:url(/static/rapidapp/images/bullet_disk.png) center center no-repeat;
}

.appdv-edit-field td.icons .cancel {
	background:url(/static/rapidapp/images/cross_tiny.png) center center no-repeat;
}

.appdv-edit-field:hover td.icons .edit {
	display:block;
}

.appdv-edit-field .data-holder, .onepx-transparent-border-bottom {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-color: transparent;
}

/* prevent inheriting padding from parents */
.appdv-edit-field td, .appdv-edit-field tr {
  padding: 0px !important;
}

.appdv-edit-field:hover .data-holder {
	border-color: blue;
	cursor:	pointer;
}

.editing .appdv-edit-field td.icons .save, .editing .appdv-edit-field td.icons .cancel {
	display:block;
}

.editing:hover .appdv-edit-field td.icons .edit {
	display:none;
}

/****************** END appdv-edit-field ******************/



/****************** appdv-edit-bigfield ******************/

div.appdv-edit-bigfield {
	position:relative;
	min-height: 20px;
}

.editing-record .appdv-edit-bigfield .icons div, .record-update .appdv-edit-bigfield .icons div {
	display:none !important;
}


.appdv-edit-bigfield .icons div {
	display:none;
	position: absolute;
	top: 0; 
	right: 0;
	padding-top:4px;
	padding-left:4px;
	cursor:	pointer;
	z-index:500;
	font-size: 10px;
	font-family: arial;
	padding:1px 14px 1px 1px;
	white-space:nowrap;
	color: blue;
	font-weight: normal;
	text-decoration:underline;
	border-style: dotted;
	border-width: 1px;
	border-color: blue;
}

.appdv-edit-bigfield .icons .edit {
	background:url(/static/rapidapp/images/pencil_tiny.png) center right no-repeat floralwhite;
}

.appdv-edit-bigfield .icons .save {
	background:url(/static/rapidapp/images/bullet_disk.png) center right no-repeat floralwhite;
	padding-right: 15px;
}

.appdv-edit-bigfield .icons .cancel {
	background:url(/static/rapidapp/images/cross_tiny.png) center right no-repeat floralwhite;
	padding-right: 15px;
}

.appdv-edit-bigfield:hover .icons, .appdv-edit-bigfield:hover .icons .edit {
	display:block;
}

.editing .appdv-edit-bigfield .icons .edit, .appdv-edit-bigfield:hover .icons .save, .appdv-edit-bigfield:hover .icons .cancel {
	display:none;
}

.editing .appdv-edit-bigfield .icons .save, .editing .appdv-edit-bigfield .icons .cancel {
	display:block;
	visibility:visible;
	position: relative;
	float:right;
}

/****************** END appdv-edit-bigfield ******************/



/* override to hide edit items if "no_update" is set and delete if no_destroy is set: */
.no_update .edit, .no_destroy .delete-record {
	display: none !important;
}





/*

.appdv-tt-generated .clickable .editable-value .data {
	padding-right: 14px;
}

.appdv-tt-generated .clickable .editable-value .data:hover {
	background:url(/static/rapidapp/images/pencil_tiny.png) center right no-repeat;
	cursor:	pointer;
}

.appdv-tt-generated .clickable .editable-value .data:hover span {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-color: blue;
}

.appdv-tt-generated .clickable .editable-value .save, .appdv-tt-generated .clickable .editable-value .cancel {

	position: absolute;
	top: 0; 
	right: 0;
	padding-top:4px;
	padding-left:4px;
	cursor:	pointer;
	z-index:500;
	font-size: 10px;
	font-family: arial;
	background:url(/static/rapidapp/images/pencil_tiny.png) center right no-repeat floralwhite;
	padding:1px 14px 1px 1px;
	white-space:nowrap;
	color: blue;
	font-weight: normal;
	text-decoration:underline;
	border-style: dotted;
	border-width: 1px;
	border-color: blue;
}


.appdv-tt-generated .clickable .editable-value + .editing .save, .appdv-tt-generated .clickable .editable-value + .editing .cancel {
	visibility:visible;
}


*/




/************************************/

.GreenSheetWrap1 {
border: 1px #999999 solid !important;
margin : 3px !important;
-moz-border-radius: 12px !important;
-webkit-border-radius: 12px !important;
border-radius: 12px !important;
background-color: #ffffcc !important;
padding-bottom: 3px !important;
padding-top: 3px !important;
}

.GreenSheetPN { /* 4 */
font-weight: bold !important;
margin : 3px !important;
margin-left: 5px !important;
font-size: 24px !important;
/*text-decoration: underline !important;  */
color: #333333 !important;
}
.GStitle {
margin-left: 5px !important;
margin-top: 5px !important;
margin-bottom: 5px !important;
font-weight: bold !important;
font-size: 14px !important;
padding-top: 3px !important;
}

.GSrtitle {
margin-left: 5px !important;
margin-top: 5px !important;
margin-bottom: 5px !important;
font-weight: bold !important;
font-size: 12px !important;
padding-top: 3px !important;
}


.GSdesc {
font-size: 9px !important;
overflow: hidden !important;
width: 40% !important;
border: 1px;
padding: 2px !important;
border-style: dotted !important;
vertical-align: bottom !important;
font-family: sans-serif !important;
font-style: italic !important;
color: grey !important;
}


.GSfloatRight {
float: right !important;
margin-right: 20px !important;
padding-top: 3px !important;
}


table.GSprop {
font: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif!important;
padding: 0!important;
margin: 0!important;
border-collapse: collapse!important;
color: #333!important;
background: #F3F5F7!important;
}

table.GSprop a.GSprop {
color: #3A4856!important;
text-decoration: none!important;
border-bottom: 1px solid #C6C8CB!important;
}

table.GSprop thead.GSprop th.GSprop {
background: #3A4856!important; padding: 15px 10px!important; color: #fff!important; text-align: right!important; font-weight: bolder!important;
}

table.GSprop tbody.GSprop, table.GSprop thead.GSprop {border-left: 1px solid #EAECEE!important; border-right: 1px solid #EAECEE!important;}

table.GSprop tbody.GSprop {border-bottom: 1px solid #EAECEE!important;}

table.GSprop tbody.GSprop td.GSprop, table.GSprop tbody.GSprop {
padding: 5px!important; background: url("/static/rapidapp/images/td_back.gif") repeat-x!important; text-align: left!important;
}

th.GSprop, table.GSprop tbody.GSprop {
padding: 5px!important; background: url("/static/rapidapp/images/td_back.gif") repeat-x!important;
}

th.GSprop { font-weight: bolder!important; margin: 5px !important; white-space:nowrap !important; padding: 2px!important;}
th.GSprop.right { text-align: right!important; }



table.GSprop tbody.GSprop tr.GSprop {background: #F3F5F7!important;}

table.GSprop tbody.GSprop tr.GSprop.odd {background: #F0F2F4!important;}

table.GSprop tbody.GSprop tr.GSprop:hover {background: #EAECEE!important; color: #111!important;}

table.GSprop tfoot.GSprop td.GSprop, table.GSprop tfoot.GSprop th.GSprop, table.GSprop tfoot.GSprop tr.GSprop {
text-align: left!important; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif!important; text-transform: uppercase!important; background: #fff!important; padding: 10px!important;
}

/* http://www.sencha.com/forum/showthread.php?77984-Field-help-text-plugin. */
.x-form-helptext {
    font-size: 9px;
    color: #888;
}


.x-superboxselect-x-flag, body.ext-ie7 .x-superboxselect-x-flag, body.ext-ie6 .x-superboxselect-x-flag {
	background-image: url(/static/ext/resources/images/default/s.gif);
	background-repeat: no-repeat;
	background-position:  2px center;
	padding-left: 21px !important;
	white-space: normal !important;
	/*text-indent: 17px !important;*/
}


/*
.x-superboxselect-item-close {background: url(close.png) no-repeat scroll left 0px; border: none; cursor: default; font-size: 1px; height: 16px;padding:0; position: absolute; right: 0px; top: 2px; width: 13px;display:block;cursor:pointer;}
*/


.x-superboxselect-item-read-only .x-superboxselect-item-close {visibility: hidden; background-image: none; border: none; cursor: default; font-size: 1px; height: 0px;padding:0; position: absolute; right: 0px; top: 2px; width: 0px;display:block;cursor:pointer;}


.x-superboxselect-item-read-only 
{
	-moz-border-radius:6px 6px 6px 6px !important;
	background-color:#E7E7E7 !important;
	border:1px solid #D7D7D7 !important;
	padding:1px 15px 1px 5px !important;
	position:relative !important;
	color: black;
}

.read-only-formfield {
	background-color: transparent!important;
	border-color: transparent!important;
	background-image:none!important;
	/*
	# the normal text field has padding-top: 2px which makes the text sit towards
	# the bottom of the field. We set top and bot here to move one of the px to the
	# bottom so the text will be vertically centered but take up the same vertical
	# size as a normal text field:
	*/
	padding-top:1px!important;
	padding-bottom:1px!important;
}

.RapidApp-dt s {
	display: none;
}



.r-simple-table table  {
	border: 1px solid #DDDDDD;
}

.r-simple-table th, .r-simple-table td {
	padding: 3px 8px 3px 3px;
}

.r-simple-table th {
	padding-bottom: 2px;
	font-weight: bold;
	text-decoration: underline;
}

.r-simple-table tr {
	background: white;
}

.r-simple-table tr:nth-child(2n+1) {
	background: #F8F8F8;
}

.r-simple-table tr > td:first-child {
	font-weight: bold;
}



.appsuperbox-create-item {
	background:url(/static/rapidapp/images/add.png) center right no-repeat;
	padding:0px 18px 0px 1px;
	width: 30;
	cursor:	pointer;
	font-size: 12px;
	font-family: arial;
	white-space:nowrap;
	color: darkgray;
	font-weight: bold;
	float:left;
	clear:both;
	border-bottom-width: 1px;
	border-color: transparent;
	cursor:	pointer;
}

.appsuperbox-create-item:hover {
	border-bottom-style: dotted;
	border-color: blue;
	color: blue;
}


.bgtask-terminal {
	font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
	padding: 0.5em;
}
.bgtask-terminal * {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */ /*
	width: 99%; */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}


/* alternative to x-grid3-dirty-cell, not currently in use */
.border-dirty {
  border-width:5px 0px 0px 5px;
  -moz-border-image:url("/static/ext/resources/images/default/grid/dirty.gif") 50% 50% 50% 50% stretch;
  -webkit-border-image:url("/static/ext/resources/images/default/grid/dirty.gif") 50% 50% 50% 50% stretch;
  border-image: url("/static/ext/resources/images/default/grid/dirty.gif") 50% 50% 50% 50% stretch;
}




.menu-field-current-value {
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(/static/rapidapp/images/checkbox_yes.png);
}
