.icon-server_database { background-image: url(/static/rapidapp/images/server_database.png) !important; }
.icon-arrow_refresh_small { background-image: url(/static/rapidapp/images/arrow_refresh_small.png) !important; }
.icon-database { background-image: url(/static/rapidapp/images/database.png) !important; }
.icon-database_table { background-image: url(/static/rapidapp/images/database_table.png) !important; }
.icon-application_view_detail { background-image: url(/static/rapidapp/images/application_view_detail.png) !important; }
.icon-resultset_next { background-image: url(/static/rapidapp/images/resultset_next.png) !important; }
.icon-application_edit { background-image: url(/static/rapidapp/images/application_edit.png) !important; }
.icon-application_form_edit { background-image: url(/static/rapidapp/images/application_form_edit.png) !important; }
.icon-cross { background-image: url(/static/rapidapp/images/cross.png) !important; }
.icon-key_go { background-image: url(/static/rapidapp/images/key_go.png) !important; }
.icon-key { background-image: url(/static/rapidapp/images/key.png) !important; }
.icon-logout { background-image: url(/static/rapidapp/images/Log-Out-icon.png) !important; }
.icon-computer { background-image: url(/static/rapidapp/images/computer-126t.gif) !important; }
.icon-vnc { background-image: url(/static/rapidapp/images/vnc_icon.png) !important; }
.icon-ssh { background-image: url(/static/rapidapp/images/application_osx_terminal.png) !important; }

.icon-myteams { background-image: url(/static/rapidapp/images/book.png) !important; }
.icon-team { background-image: url(/static/rapidapp/images/book_open.png) !important; }
.icon-team-arrow { background-image: url(/static/rapidapp/images/book_next.png) !important; }
.icon-users { background-image: url(/static/rapidapp/images/group.png) !important; }
.icon-user { background-image: url(/static/rapidapp/images/user.png) !important; }
.icon-user-add { background-image: url(/static/rapidapp/images/user_add.png) !important; }
.icon-report { background-image: url(/static/rapidapp/images/chart_curve.png) !important; }
.icon-record { background-image: url(/static/rapidapp/images/time.png) !important; }
.icon-record-go { background-image: url(/static/rapidapp/images/table_go.png) !important; }
.icon-manage-activities { background-image: url(/static/rapidapp/images/table_gear.png) !important; }
.icon-players { background-image: url(/static/rapidapp/images/status_online.png) !important; }
.icon-add { background-image: url(/static/rapidapp/images/add.png) !important; }
.icon-activity { background-image: url(/static/rapidapp/images/table.png) !important; }

.icon-folder { background-image: url(/static/rapidapp/images/folder.png) !important; }

.icon-delete { background-image: url(/static/rapidapp/images/cross.png) !important; }
.icon-edit { background-image: url(/static/rapidapp/images/application_edit.png) !important; }
.icon-save { background-image: url(/static/rapidapp/images/disk_blue_ok.png) !important; }

.icon-log { background-image: url(/static/rapidapp/images/report.png) !important; }
.icon-form-add { background-image: url(/static/rapidapp/images/application_form_add.png) !important; }
.icon-printer { background-image: url(/static/rapidapp/images/printer.png) !important; }
.icon-help { background-image: url(/static/rapidapp/images/help.png) !important; }
.icon-bullet_delete { background-image: url(/static/rapidapp/images/bullet_delete.png) !important; }
.icon-form_green { background-image: url(/static/rapidapp/images/form_green.png) !important; }
.icon-book_green { background-image: url(/static/rapidapp/images/book_green.png) !important; }

.icon-data-view { background-image: url(/static/rapidapp/images/data_view.png) !important; }
.icon-folder-view { background-image: url(/static/rapidapp/images/folder_view.png) !important; }
.icon-save-as { background-image: url(/static/rapidapp/images/save_as.png) !important; }

.icon-bullet_key { 
	background-image: url(/static/rapidapp/images/bullet_key.png) !important; 
	background-repeat:no-repeat; 
	padding-right: 18px; 
	padding-top: 9px; 
	padding-bottom: 3px;
}


.icon-save-24x24 { background-image: url(/static/rapidapp/images/disk_blue_24x24.png) !important; }
.icon-add-24x24 { background-image: url(/static/rapidapp/images/disk_blue_ok_24x24.png) !important; }
.icon-refresh-24x24 { background-image: url(/static/rapidapp/images/refresh_24x24.png) !important; }

.icon-excel { background-image: url(/static/rapidapp/images/page_excel.png) !important; }




.tbar-title-medium { 
	font-size:175% !important;
	padding:6px !important;
	font-weight: bolder !important;
}
.tbar-button-medium { 
	font-size:140% !important;
	padding-left: 5px !important;
	font-weight: bolder !important;
}

.tbar-title-small { 
	padding:3px !important;
	font-weight: bolder !important;
}
.tbar-button-small { 
	padding-left: 2px !important;
	font-weight: bolder !important;
}

.icon-engineering { background-image: url(/static/images/hammer2.png) !important; }
.icon-sales { background-image: url(/static/images/businessmen.png) !important; }
.icon-pricing { background-image: url(/static/images/percent.png) !important; }

.icon-history { background-image: url(/static/images/history.png) !important; }
.icon-history-add { background-image: url(/static/images/history_add.png) !important; }
.icon-history-24x24 { background-image: url(/static/images/history_24x24.png) !important; }
.icon-history-add-24x24 { background-image: url(/static/images/history_add_24x24.png) !important; }
.icon-history-32x32 { background-image: url(/static/images/history_32x32.png) !important; }
.icon-history-add-32x32 { background-image: url(/static/images/history_add_32x32.png) !important; }


/* ----------------------------------- */

/* http://www.sencha.com/forum/showthread.php?45873-tbar-appears-ugly */
.tbarBottomBorderFix {
	border-bottom-style: solid !important;
	border-bottom-color: #D0D0D0 !important;
	border-bottom-width: 1px !important;
}


.panel-borders {
	border-style: solid !important;
	border-color: #D0D0D0 !important;
	border-width: 1px !important;
}


.item-disabled {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
  background-color: #f2f2f2 !important; /* this is needed to fix stupid IE opacity bug */
}




/* This is needed only with gray theme: */
.x-toolbar .xtb-sep { background-image: url(/static/ext/resources/images/default/grid/grid-split.gif) !important }

.x-tab-panel-header { border-bottom: 0px; }

.offline .x-grid3-cell {
  opacity: 0.5;
  filter: alpha(opacity=50);
}


/*
.offline .x-grid3-cell .x-grid3-cell-first {
  opacity: 1.0 !important;
  filter: alpha(opacity=100);
}
*/

.x-grid3-cell-first {
	opacity: 2.0;
	filter: alpha(opacity=200);
}


.x-grid3-col-memberpc  {
	cursor:pointer;
}

.x-tab-panel-body {
//	border: 0 none !important;
}

.x-tab-panel-header-plain .x-tab-strip-spacer, .x-tab-panel-footer-plain .x-tab-strip-spacer {
	border-bottom: 0 none !important;
}


.x-grid3-row-expander {
	background-image: url(/static/rapidapp/images/row-expand-sprite-arrow.gif) !important;
}

.x-grid3-row-selected {
	background: #EEF3E2 !important;
	border:1px dotted gray;
}


/*
.x-grid3-row-collapsed .x-grid3-row-expander {
	background-image: url(/static/rapidapp/images/bullet_arrow_up_sm.png) !important;
	display: inline;
}
.x-grid3-row-expanded  .x-grid3-row-expander {
	background-image: url(/static/rapidapp/images/bullet_arrow_down_sm.png) !important;
	display: inline;
}


html {
    overflow: -moz-scrollbars-vertical;
    position: relative;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #fff; color: #333;
    letter-spacing: 0.1px;
    position: relative;
}

*/

/*
td {
  font-family: Tahoma, Geneva, Verdana, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  vertical-align: middle;
}
*/

img {
  vertical-align: middle;
}

/*
.x-panel-body {
  border:1px solid gray;
  border-top:0 none;
}
*/

.link-underline {
	cursor:pointer;
	text-decoration:underline;
}


/*
.x-tree-selected { font-weight: bold; }
*/

//.x-grid3-hd-row .x-grid3-td-PRI_KEY { padding: 0px 0px 0px 0px; }
//.x-grid3-hd-inner .x-grid3-hd-PRI_KEY { padding: 0px 0px 0px 0px; }
//.x-grid3-hd-PRI_KEY { padding: 0px 0px 0px 0px; }

.x-grid3-td-editIcon .x-grid3-cell-inner { 
	background-image: url(/static/rapidapp/images/table_edit.png) !important;
	background-position:center center;
	background-repeat:no-repeat;
	padding-left: 2px;
	padding-right: 2px; 
	cursor: pointer;
}


.pos-top-right { 
	text-align: right;
	position:absolute;
	top:0;
	right:5%;
	width:200px;
	background-color:yellow;
}


.sbl-panel-body-noborder {
    border-width: 0 0 0 0 !important;
    padding: 0 !important;
    background-color: white !important;
}
.res-block {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../img/theme/block-top.gif) no-repeat scroll 0 0;
	margin-bottom:15px;
	padding-top:5px;
	width:210px;
}


/*
.sbl-panel-body-noborder, .sbl-panel-body-noborder .x-border-panel .x-border-layout-ct, .sbl-panel-body-noborder .x-panel .x-border-panel, .sbl-panel-body-noborder .x-panel-body .x-panel-body-noheader {
    border-width: 0 0 0 0 !important;
    padding: 0 !important;
}


*/

/*
html, body { height:100%; }
*/



.bold-italics { font-weight: bold !important; font-style: italic !important; }





/* Taken from: http://www.extjs.com/blog/2008/05/14/form-group/  */

/* add some padding so it spaces nice and relative elements dn't get clipped */
.form-group {
	padding-top:15px;
	padding-bottom:10px;
	overflow:hidden;
}
 
/* Simple blue border */
.form-group .form-group-header {
	padding:0;
	border-bottom:1px solid #c3daf9;
}
 
/* Position the text element so it appears over the border added above */
.form-group .form-group-header-text {
	font-size:11px;
	font-family:tahoma,arial,sans-serif;
	line-height:13px;
	text-transform:uppercase;
	position:relative;
	left:5px;
	top:5px;
	padding:1px 5px 1px 20px;
	color:#4e79b2;
	border:1px solid #c3daf9;
	background:#fff url(/static/rapidapp/images/form-collapse-icon.gif) no-repeat 2px 0;
}
 
/* Copied from x-plain (for IE + layouts to work) */
.form-group-body {
    overflow:hidden;
}
 
/* Copied from x-plain (for IE + layouts to work) */
.form-group-bwrap {
    overflow:hidden;
    zoom:1;
}
 
/* Change the toggle icon when collapsed */
.x-panel-collapsed .form-group-header-text {
	background-position: 2px -15px;
}





.x-form-display-field, .ext-gecko .x-form-display-field, .ext-strict .ext-ie7 .x-form-display-field {
    display: block;
    padding: 3px 0px 0px 0px;
    padding-left: 0px;
    position: relative;
    z-index: 2;
}


.floating-form .x-form-item
{
    display: inline;
    float:left;
    padding-right: 5px;
}
.floating-form label.x-form-item-label
{
    padding-right:0;
}
.ext-ie .floating-form .x-form-clear-left
{
    clear: none;
    display:none;
}




.GreenSheetWrap1 {
border: 1px #999999 solid !important;
margin : 3px !important;
-moz-border-radius: 12px !important;
-webkit-border-radius: 12px !important;
border-radius: 12px !important;
background-color: #ffffcc !important;
padding-bottom: 3px !important;
padding-top: 3px !important;
}

.GreenSheetPN { /* 4 */
font-weight: bold !important; 
margin : 3px !important;
margin-left: 5px !important; 
font-size: 24px !important; 
/*text-decoration: underline !important;  */
color: #333333 !important; 
} 
.GStitle {
margin-left: 5px !important;
margin-top: 5px !important;
margin-bottom: 5px !important;
font-weight: bold !important;
font-size: 14px !important; 
padding-top: 3px !important;
}

.GSrtitle {
margin-left: 5px !important;
margin-top: 5px !important;
margin-bottom: 5px !important;
font-weight: bold !important;
font-size: 12px !important; 
padding-top: 3px !important;
}


.GSdesc {
font-size: 9px !important; 
overflow: hidden !important;
width: 40% !important;
border: 1px;
padding: 2px !important;
border-style: dotted !important;
vertical-align: bottom !important;
font-family: sans-serif !important;
font-style: italic !important;
color: grey !important;
}


.GSfloatRight {
float: right !important; 
margin-right: 20px !important;
padding-top: 3px !important;
}


table.GSprop {
font: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif!important;
padding: 0!important; 
margin: 0!important; 
border-collapse: collapse!important; 
color: #333!important; 
background: #F3F5F7!important;
}

table.GSprop a.GSprop {
color: #3A4856!important; 
text-decoration: none!important; 
border-bottom: 1px solid #C6C8CB!important;
}  

table.GSprop thead.GSprop th.GSprop {
background: #3A4856!important; padding: 15px 10px!important; color: #fff!important; text-align: right!important; font-weight: bolder!important;
}

table.GSprop tbody.GSprop, table.GSprop thead.GSprop {border-left: 1px solid #EAECEE!important; border-right: 1px solid #EAECEE!important;}

table.GSprop tbody.GSprop {border-bottom: 1px solid #EAECEE!important;}
                      
table.GSprop tbody.GSprop td.GSprop, table.GSprop tbody.GSprop {
padding: 5px!important; background: url("/static/rapidapp/images/td_back.gif") repeat-x!important; text-align: left!important;
}

th.GSprop, table.GSprop tbody.GSprop {
padding: 5px!important; background: url("/static/rapidapp/images/td_back.gif") repeat-x!important;
}

th.GSprop { font-weight: bolder!important; margin: 5px !important; white-space:nowrap !important; padding: 2px!important;}
th.GSprop.right { text-align: right!important; }



table.GSprop tbody.GSprop tr.GSprop {background: #F3F5F7!important;}

table.GSprop tbody.GSprop tr.GSprop.odd {background: #F0F2F4!important;}

table.GSprop tbody.GSprop tr.GSprop:hover {background: #EAECEE!important; color: #111!important;}

table.GSprop tfoot.GSprop td.GSprop, table.GSprop tfoot.GSprop th.GSprop, table.GSprop tfoot.GSprop tr.GSprop {
text-align: left!important; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif!important; text-transform: uppercase!important; background: #fff!important; padding: 10px!important;
}
