#title {
	white-space:nowrap;
	color:#414141;
	/*text-shadow:0px -1px 0px #000;*/
}
#title .titleLeft {
}
#title .titleCenter {
	background: url(/static/rapidapp/images/centerTitleBG.png) repeat-x 0 0;
}
#title .titleRight {
}
#title .status {
	color:#8FB95E;
	text-shadow:none;
}
#title .middle {
	text-align:center;
	padding-right:20px;
	padding-left:20px;
}
#title .title {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 12px;
	padding-top: 3px;
}
#title .PN {
	font-weight: bold;
	margin : 3px;
	margin-left: 5px;
	font-size: 24px;
}