.xt-htmleditor {
	border: 2px solid #DDD;
	background-color: white;
	padding: 8px;
	margin: 0px;
}

.xt-appcombo2 {
	padding: 0.2em 0.2em 0.2em 0.5em;
}

.xt-appcombo2 ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: .3em;
}

