html, body, .x-panel {
	font: 12px tahoma,arial,helvetica,sans-serif;
	background-color: #F0F0F0;
}

.x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-ml, .x-panel-mr, .x-panel-mc, .x-panel-bl, .x-panel-br, .x-panel-bc {
	background-color: #F0F0F0;
}

.reset h1 {
	font-size: 24px;
	font-weight: 700;
	margin: .67em 0px;
}

.reset h2 {
	font-size: 18px;
	font-weight: 700;
	margin: .83em 0px;
}

.reset h3 {
	font-weight: 700;
}

.reset p {
	margin: 1em 0px;
}

.reset ol, .reset ul {
	margin: 1em opx;
	padding-left: 40px;
}

.reset ul li {
	list-style-type: disc;
}

.reset ol li {
	list-style-type: decimal;
}

.reset blockquote {
	margin: 1em 3.3em;
}