[% SET 
  username = c.user.get_from_storage.username 
  login_url = '/auth/login'
%]

[% IF convert_hashpath %]
  [% SET login_url = "$login_url/#!$local_uri" %]
[% END %]

[% IF username %]
 [% username %] | <a target="_top" href="/auth/logout">Logout</a>
[% ELSE %]
 (not logged in) | <a target="_top" href="[% login_url %]">Login</a>
[% END %]