<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>
<title>[% title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

[% c.all_html_head_tags %]

<!-- default favicon -->
[% SET favicon = '/assets/rapidapp/misc/static/images/rapidapp_icon_small.ico' %]
[% TRY %]
  [% PROCESS templates/local_js_css.tt %]
[% CATCH %]
[% END %]

<link rel="icon" href="[% favicon %]" type="image/x-icon" />


<script type="text/javascript">
  Ext.ux.RapidApp.VERSION = [% c.rapidapp_version %];
  Ext.BLANK_IMAGE_URL = '/assets/rapidapp/misc/static/s.gif';
  Ext.chart.Chart.CHART_URL = '/assets/rapidapp/misc/static/charts.swf';
  Ext.QuickTips.init();
</script>

</head>
<body>

[% content %]

</body>
</html>
